:root {
	--highlight-color: #a7d8ff;
	--select-color: #ffda00;
	--shade-color: #dcdcdc;
	--dashboard-header-height: 29.5px;
}

* {
	box-sizing: border-box;
}

.App {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
	margin: auto;
	max-height: 660px;
	max-width: 1132px;
	padding: 10px;
	text-align: center;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.popup {
	align-items: center;
	background-color: white;
	border: solid black 1px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	left: 50%;
	padding: 1rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.exit-button {
	align-self: flex-end;
	cursor: pointer;
	padding: 0;
	user-select: none;
}

.popup > h2 {
	align-self: flex-start;
	margin: 0 0 0 1rem;
}

.popup-wrapper[name="gridOptionsPopup"] {
	margin: 0 auto 0 0.5rem;
}

.open-submission-info-button {
	background-color: black;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	padding: 0;
	user-select: none;
}
.open-grid-options-button {
	cursor: pointer;
	padding: 0;
	user-select: none;
}

.submission-info-wrapper {
	align-items: center;
	background-color: white;
	border: solid black 1px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	left: 50%;
	padding: 1rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.submission-info-wrapper > h3 {
	margin: 0;
}

.submission-info {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 350px;
}

.submission-info-item {
	display: flex;
	flex-direction: column;
}

.submission-info-item:has(:invalid) .submission-info-help {
	color: red;
	font-size: 12px;
	font-weight: 700;
}

.submission-info-label {
	text-align: left;
}

.submission-info > *:not(.submit-info-button) {
	margin-bottom: 1rem;
}

.submission-info-help {
	color: gray;
	font-size: 10px;
	text-align: left;
}

.submit-info-button {
	background-color: black;
	color: white;
	height: 30px;
}

.app-content {
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: space-around;
}

.app-content > div {
	width: 48%;
}

.board-and-settings {
	min-width: fit-content;
}

.cell-settings {
	align-items: center;
	border: solid black 1px;
	display: flex;
	justify-content: space-between;
	padding: 0 0.5rem;
}

.cell-settings-toggles {
	display: flex;
}

.toggle-switch-wrapper {
	margin: 3px;
}

.toggle-switch-label {
	border-radius: 0.25rem;
	cursor: pointer;
	display: flex;
	margin: 1px;
	padding: 3px;
	user-select: none;
}

.toggle-switch-label:hover {
	background-color: var(--shade-color);
	margin: 1px;
	padding: 3px;
}

.toggle-switch-label:has(.toggle-switch-input:checked) {
	background-color: var(--highlight-color);
	margin: 1px;
	padding: 3px;
}

.toggle-switch {
	height: 1.5rem;
}

.invisible {
	height: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.board {
	border: solid black 1px;
	display: grid;
	grid-template-rows: repeat(15, minMax(1.5rem, 1fr));
	grid-template-columns: repeat(15, minMax(1.5rem, 1fr));
}

.cell {
	aspect-ratio: 1 / 1;
	border: solid black 0.5px;
	position: relative;
}

.cell > * {
	pointer-events: none;
	user-select: none;
}

.display-word-container {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.display-cell {
	aspect-ratio: 1 / 1;
	border: solid black 0.5px;
	flex-grow: 1;
	max-width: 33.05px;
}

.number {
	font-size: 11px;
	left: 6%;
	position: absolute;
	top: 6%;
}

.letter {
	bottom: 0;
	font-size: clamp(14.88px, 1.88vw, 22px);
	line-height: 0.87;
	position: absolute;
	width: 100%;
}

.circle {
	border: solid black 0.5px;
	border-radius: 50%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.shaded {
	background-color: var(--shade-color);
}

.shaded-color {
	color: var(--shade-color);
	outline: solid black 1px;
	outline-offset: -4px;
}

.highlighted {
	background-color: var(--highlight-color);
}

.selected {
	background-color: var(--select-color);
}

.cell-block {
	background-color: black;
}
.clue-lists-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	height: 100%;
}
.clue-list-wrapper {
	height: calc(50% - 10px);
	margin-bottom: 10px;
	padding-left: 10px;
}
.clue-list {
	height: calc(100% - 40px);
	/* if you don't want a gap between Dashboard border and end of list: height: calc(100% - 19px); */
	margin: 0;
	min-width: 211px;
	overflow-y: scroll;
	padding: 0;
}

.clue-list-title {
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
	margin: 0;
	text-align: start;
	text-transform: uppercase;
}

.clue-list-item {
	border-left: 10px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	padding: 5px 1px;
}

.clue-list-item > * {
	pointer-events: none;
	user-select: none;
}

.opposite-highlighted {
	border-left-color: var(--highlight-color);
}

.clue-list-item span {
	line-height: 1.4;
	margin-right: 5px;
}

.clue-label {
	font-weight: bold;
	min-width: 24px;
	text-align: right;
	width: 24px;
}

.clue-text {
	margin-left: 5px;
}

.clue-list-item button {
	height: fit-content;
	padding: 0;
}

.accessible {
	pointer-events: auto;
	user-select: auto;
}

.clue-textarea-wrapper {
	display: flex;
	gap: 5px;
	width: 100%;
}

.clue-textarea {
	background: none;
	border: none;
	border-bottom: solid black 1px;
	outline: 0;
	resize: none;
	width: 100%;
}

/* Dashboard */
.dashboard {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
}

.dashboard:has(.stats-page) .stats-button-label {
	background-color: var(--highlight-color);
}

.dashboard:has(.clues-page) .clues-button-label {
	background-color: var(--highlight-color);
}

.dashboard:has(.fill-page) .fill-button-label {
	background-color: var(--highlight-color);
}

.dashboard:has(.board-and-settings) .board-button-label {
	font-weight: bold;
}

.dashboard:has(.dashboard) .dashboard-button-label {
	font-weight: bold;
}

.dashboard-header {
	display: flex;
}

.dashboard-header-button-label {
	border-bottom: solid black 1px;
	cursor: pointer;
	flex-grow: 1;
	padding: 5px;
	position: relative;
	text-transform: capitalize;
}

.dashboard-page-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}

.dashboard-page:has(.dashboard-stats-table) {
	overflow: auto;
}

.dashboard-page-container:has(.clues-page) {
	height: calc(100% - var(--dashboard-header-height));
}

.dashboard-page-container:has(.fill-page) {
	overflow-y: scroll;
}

.clues-page {
	display: flex;
	flex: 1;
	height: 100%;
	overflow-y: hidden;
}

.fill-page {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

.fill-buttons {
	display: flex;
	justify-content: space-evenly;
}

.fill-buttons > button {
	margin-top: 1rem;
}

table {
	border-collapse: collapse;
}
td {
	border-bottom: solid 1px #ddd;
	padding: 0.75rem;
	text-align: left;
}

.match-filter-container {
	display: flex;
	flex-direction: column;
}

.match-filter-container > label {
	font-size: 0.8rem;
}

.match-filter-container > input {
	align-self: center;
}

.match-table-container {
	height: 100%;
	overflow-y: scroll;
}

.match-table {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	width: 100%;
}

.match-table thead {
	top: 0;
	position: sticky;
}

.match-table thead th {
	background-color: white;
}

.match-table tr {
	display: table;
	width: 100%;
}

.match-table tbody tr {
	cursor: pointer;
}

.match-table tbody tr:hover {
	background-color: lightgray;
}

.match-table tbody tr > * {
	pointer-events: none;
}

.match-table th {
	padding: 0.75rem;
}

.match-table td {
	text-align: center;
	width: 50%;
}

.grid-options-background {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.grid-options-background > *:not(.grid-options-container) {
	pointer-events: none;
	user-select: none;
}

.grid-options-container {
	background-color: white;
	border-radius: 0.25rem;
	left: 50%;
	padding: 0.5rem;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.grid-options-header {
	display: flex;
	flex-direction: column-reverse;
}

.grid-options-header > h2 {
	margin: auto;
}

.grid-options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0.5rem;
}

.grid-option {
	margin: 0.5rem;
	padding: 0.5rem;
}

.grid-option > * {
	pointer-events: none;
	user-select: none;
}

.grid-option-board {
	border: solid black 1px;
	display: grid;
	grid-template-rows: repeat(15, 15px);
	grid-template-columns: repeat(15, 15px);
}

.grid-option-cell {
	border: solid black 1px;
	position: relative;
}

.grid-option-number {
	font-size: 6px;
	left: 6%;
	position: absolute;
	top: 6%;
}

.display-none {
	display: none;
}

/* Mobile Keyboard */
.mobile-keyboard {
	height: 100%;
	margin: 0.125rem 0;
}

.mobile-keyboard-row {
	display: flex;
	flex: 1;
	height: calc(100% / 3);
	justify-content: center;
}

button.mobile-keyboard-key {
	appearance: none;
}

button.mobile-keyboard-key[value="backspace"] {
	font-size: revert;
}

/* Mobile UI */
@media (orientation: portrait) and (max-device-width: 430px) and (max-device-height: 932px) {
	html,
	body,
	div#root {
		height: 100%;
	}

	body {
		margin: 0;
	}

	.App {
		height: 100%;
		padding-bottom: 0;
		position: relative;
	}

	.App > .dashboard {
		height: 100%;
		max-height: 100%;
		min-width: fit-content;
	}

	.dashboard-page.board-page {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.dashboard-page:has(.dashboard) {
		height: 100%;
	}

	.dashboard-page > .dashboard {
		height: 100%;
	}

	.cell > .number {
		font-size: 8px;
	}

	.popup {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		transform: none;
	}

	.submission-info > *:not(.submit-info-button) {
		margin-bottom: 0.5rem;
	}

	.popup:has(.grid-options) {
		position: fixed;
		overflow-y: hidden;
	}

	.popup-content:has(.grid-options) {
		overflow-y: scroll;
		width: 100%;
	}

	.popup > h2 {
		margin-bottom: 0.5rem;
	}

	.grid-options {
		justify-content: center;
		grid-template-columns: none;
		grid-template-rows: repeat(6, 1fr);
		padding-top: 0;
	}

	button.grid-option {
		appearance: none;
		border-radius: 0.25rem;
	}

	span.clue-textarea-wrapper > textarea {
		font-size: 1rem;
	}
}

@media (min-width: 961px) {
	.clue-lists-container {
		flex-direction: row;
		height: 100%;
	}

	.clue-list-wrapper {
		height: 100%;
		margin-bottom: 0;
	}

	/* 
	if you don't want a gap between Dashboard border and end of list:
	.clue-list {

		height: calc(100% - 29px);
	}
	but there's not much space between end of across list and down clue-list-title
	*/
}
