* {
	box-sizing: border-box;
}

.App {
	display: flex;
	font-family: sans-serif;
	height: 100vh;
	justify-content: space-around;
	margin: auto;
	max-height: 660px;
	max-width: 1132px;
	padding: 10px;
	text-align: center;
}

.App > div {
	width: 48%;
}

.board-and-settings {
	min-width: fit-content;
}

.cell-block-settings {
	border: solid black 1px;
	display: flex;
	justify-content: space-evenly;
}

.toggle-switch-label {
	display: flex;
	padding: 5px;
}

.board {
	border: solid black 1px;
	display: grid;
	grid-template-rows: repeat(15, minMax(1.5rem, 1fr));
	grid-template-columns: repeat(15, minMax(1.5rem, 1fr));
}

.cell {
	aspect-ratio: 1 / 1;
	border: solid black 0.5px;
	position: relative;
}

.cell > * {
	pointer-events: none;
	user-select: none;
}

.display-word-container {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.display-cell {
	aspect-ratio: 1 / 1;
	border: solid black 0.5px;
	flex-grow: 1;
	max-width: 33.05px;
}

.number {
	font-size: 11px;
	left: 6%;
	position: absolute;
	top: 6%;
}

.letter {
	bottom: 0;
	font-size: clamp(14.88px, 1.88vw, 22px);
	line-height: 0.87;
	position: absolute;
	width: 100%;
}

.highlighted {
	background-color: #a7d8ff;
}

.selected {
	background-color: #ffda00;
}

.cell-block {
	background-color: black;
}

.clue-lists-container {
	border: solid black 1px;
	display: flex;
	justify-content: space-around;
	max-height: 625px;
	min-width: 230px;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clue-list-wrapper {
	flex: 1;
	font-size: 14px;
	padding-left: 10px;
	width: 47%;
}

.clue-list-title {
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
	margin: 0;
	text-align: start;
	text-transform: uppercase;
}

.clue-list {
	height: calc(100% - 28px);
	overflow-y: scroll;
}

.clue-list-item {
	border-left: 10px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	padding: 5px 1px;
}

.clue-list-item > * {
	pointer-events: none;
	user-select: none;
}

.opposite-highlighted {
	border-left-color: #a7d8ff;
}

.clue-list-item span {
	line-height: 1.4;
	margin-right: 5px;
}

.clue-label {
	font-weight: bold;
	min-width: 24px;
	text-align: right;
	width: 24px;
}

.clue-text {
	margin-left: 5px;
}

/* Dashboard */
.dashboard {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
}

.dashboard:has(.stats-page) .stats-button-label {
	background-color: #a7d8ff;
}

.dashboard:has(.clues-page) .clues-button-label {
	background-color: #a7d8ff;
}

.dashboard:has(.fill-page) .fill-button-label {
	background-color: #a7d8ff;
}

.dashboard-header {
	display: flex;
}

.dashboard-header-button-label {
	border: solid black 1px;
	cursor: pointer;
	flex-grow: 1;
	padding: 5px;
	position: relative;
	text-transform: capitalize;
}

.dashboard-header-button {
	flex-grow: 1;
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.dashboard-page-container {
	border: solid blue 1px;
	flex-grow: 1;
}

.dashboard-page {
	border: solid green 1px;
}

.dashboard-page:has(.dashboard-stats-table) {
	overflow-x: auto;
}

table {
	border-collapse: collapse;
	width: max-content;
}
td {
	border-bottom: solid 1px #ddd;
	padding: 0.75rem;
	text-align: left;
}

.match-table {
	display: flex;
	flex-direction: column;
	height: 550px;
	overflow-y: scroll;
	width: 100%;
}

.match-table thead {
	top: 0;
	position: sticky;
}

.match-table thead th {
	background-color: white;
}

.match-table tr {
	cursor: pointer;
	display: table;
	width: 100%;
}

.match-table tbody tr:hover {
	background-color: lightgray;
}

.match-table tr > * {
	pointer-events: none;
}

.match-table th {
	padding: 0.75rem;
}

.match-table td {
	text-align: center;
	width: 50%;
}

@media (max-width: 960px) {
	.clue-lists-container {
		flex-direction: column;
	}
	.clue-list-wrapper {
		height: calc(50% - 10px);
		margin-bottom: 10px;
		overflow-y: scroll;
		width: 100%;
	}
}
