/* body {
	font-family: Arial, Helvetica, sans-serif;
}

.puzzle {
	align-items: flex-start;
	display: flex;
	height: 100%;
	justify-content: space-around;
	margin: auto;
	max-height: 660px;
	max-width: 1132px;
	padding: 10px;
}

.cell-block-section-content {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

#cell-block-toggle-input {
	border: 0;
	height: 0;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 0;
}

.cell-block-div {
	background-color: black;
	height: 60px;
	width: 60px;
}

.cell-block-count-p {
	margin: 0;
}

.cell-block {
	fill: black;
}

rect {
	outline: 0;
}

.xword-clue-and-board-section {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 48%;
}

.xword-board-section,
.xword-board-container {
	width: 100%;
	height: 100%;
}

.xword-board-container,
.xword-board {
	user-select: none;
}

.xword-clue {
	align-items: center;
	background-color: #dcefff;
	display: flex;
	font-size: 1rem;
	height: 60px;
	margin-bottom: 10px;
}

.xword-clue-number {
	font-weight: bold;
	text-align: center;
	width: 60px;
}

.xword-board-section {
	flex-grow: 1;
	overflow: hidden;
	position: relative;
}

.xword-board {
	display: block;
	height: 100%;
}

.xword-cell *:not(rect) {
	pointer-events: none;
}

.xword-clue-and-board-section:has(#cell-block-input:not(:checked))
	.cell-rect:not(.cell-block):focus {
	fill: #ffda00;
}

.toggle-switch-label {
	display: flex;
	align-items: center;
}

.toggle-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	transform: scale(0.75);
	width: 60px;
}

.toggle-switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.clue-lists-section {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-around;
	max-height: 625px;
	width: 48%;
}

.clue-list-wrapper {
	display: block;
	height: 100%;
	padding-left: 10px;
	width: 47%;
}

.clue-list-title {
	border-bottom: solid #e6e6e6 1px;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
	margin: 0;
}

.clue-list {
	height: 585px;
	list-style: none;
	overflow-y: scroll;
	padding-left: 0;
}

.clue-list-item {
	border-left: solid rgba(0, 0, 0, 0) 10px;
	cursor: pointer;
	display: flex;
	padding: 5px 1px;
}

.clue-list-item span {
	line-height: 1.4;
	margin-right: 5px;
}

.clue-label {
	font-weight: bold;
	text-align: right;
	min-width: 24px;
	width: 24px;
}

.clue-text {
	margin-left: 5px;
} */

.App {
	display: flex;
	font-family: sans-serif;
	height: 100vh;
	justify-content: space-around;
	margin: auto;
	max-height: 660px;
	max-width: 1132px;
	padding: 10px;
	text-align: center;
}

.App > div {
	width: 48%;
}

.board-and-settings {
	min-width: fit-content;
}

.cell-block-settings {
	border: solid black 1px;
	display: flex;
	justify-content: space-evenly;
}

.toggle-switch-label {
	display: flex;
	padding: 5px;
}

.board {
	border: solid black 1px;
	display: grid;
	grid-template-rows: repeat(15, minMax(1.5rem, 1fr));
	grid-template-columns: repeat(15, minMax(1.5rem, 1fr));
}

.cell {
	aspect-ratio: 1 / 1;
	border: solid black 0.5px;
	position: relative;
}

.cell > * {
	pointer-events: none;
	user-select: none;
}

.number {
	font-size: 11px;
	left: 3px;
	position: absolute;
	top: 3px;
}

.letter {
	bottom: 0;
	font-size: 22px;
	height: 22px;
	position: absolute;
	width: 100%;
}

.highlighted {
	background-color: #a7d8ff;
}

.selected {
	background-color: #ffda00;
}

.cell-block {
	background-color: black;
}

.clue-lists-container {
	border: solid black 1px;
	display: flex;
	justify-content: space-around;
	max-height: 625px;
	min-width: 230px;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.clue-list-wrapper {
	flex: 1;
	font-size: 14px;
	padding-left: 10px;
	width: 47%;
}

.clue-list-title {
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
	margin: 0;
	text-align: start;
	text-transform: uppercase;
}

.clue-list {
	height: calc(100% - 28px);
	overflow-y: scroll;
}

.clue-list-item {
	border-left: 10px solid rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	padding: 5px 1px;
}

.clue-list-item > * {
	pointer-events: none;
	user-select: none;
}

.opposite-highlighted {
	border-left-color: #a7d8ff;
}

.clue-list-item span {
	line-height: 1.4;
	margin-right: 5px;
}

.clue-label {
	font-weight: bold;
	min-width: 24px;
	text-align: right;
	width: 24px;
}

.clue-text {
	margin-left: 5px;
}

/* Dashboard */
.dashboard {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
}
.dashboard-header {
	border: solid red 1px;
	display: flex;
}
.dashboard-header-button-label {
	border: solid purple 1px;
	flex-grow: 1;
}
.dashboard-header-button {
	flex-grow: 1;
}
.dashboard-page-container {
	border: solid blue 1px;
	flex-grow: 1;
}
.dashboard-page {
	border: solid green 1px;
}
.dashboard-page:has(.dashboard-stats-table) {
	overflow-x: auto;
}
.dashboard-stats-table {
	border-collapse: collapse;
	width: max-content;
}
td {
	border-bottom: solid 1px #ddd;
	padding: 0.75rem;
	text-align: left;
}

@media (max-width: 960px) {
	.clue-lists-container {
		flex-direction: column;
	}
	.clue-list-wrapper {
		height: calc(50% - 10px);
		margin-bottom: 10px;
		width: 100%;
	}
}
